<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:insert="~{head.html}">
    </head>
    <body>
        <div class="container-fluid" th:insert="~{navbar.html}">
        </div>
        <div class="container mt-3" style = "min-height: 800px;">
            <div class="row">
                <div class="col-4 pt-3" th:insert="~{sidebar.html}">
                </div>
                <div class="col-8" layout:fragment="mainContent">
                </div>
            </div>
        </div>
        <div class="container-fluid bg-dark text-light mt-5" th:insert="~{footer.html}">
        </div>
    </body>
</html>